body,ul,li,a{
	margin: 0;
	padding: 0;
}
#main{
	width: 1500px;
	height: auto;
	margin: 0 auto;
}
ul li{
	list-style: none;
	float: left;
	/*border: 1px solid #333;*/
	margin: 10px;
	padding: 5px;

}
#ratingnum{
	width: 600px;
	height: 600px;
}
#age{
	width: 600px;
	height: 600px;
}
#country{
	width: 600px;
	height: 600px;
}
#agecount{
	width: 600px;
	height: 600px;
}